# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Emacs
*~
\#*
.#*

# vim and IntelliJ IDEA
*.swp
*.bak
.idea/

# Python
*.pyc
__pycache__

# frontend artifacts
/frontend/dist
/frontend/node_modules
/frontend/yarn.lock
/frontend/package-lock.json

# backend artifacts
/backend/dist
/backend/poetry.lock
